@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 60%;
  height: 100vh;
  background-color: rgba(177, 172, 172, 0.414);
  
}

.createPost {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: white;
}

.btnCreatePost {
  padding: 5px 10px;
  background-color: #3f61a0;
  color: white;
  border: none;
  border-radius: 4px;
}


.createPostForm {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: white;
}

.btnCreatePostForm {
  padding: 5px 10px;
  background-color: #3f61a0;
  color: white;
  border: none;
  border-radius: 4px;
}


.headerCreatePostForm {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  font-weight: 800;
  border-bottom: 1px solid rgb(142, 141, 141);
}

.header-sections {
  font-size: 16px;
  text-decoration: none;
  color: #3b5a94;
  padding: 0 10px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.header-sections:not(:last-child) {
  border-right: 1px solid rgb(142, 141, 141);
}

.header-sections-active{
  color: #3b5a94;
  border-right: 1px solid rgb(142, 141, 141);
  padding-right: 15px;
  padding-left: 15px;
}

.createForm {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 1rem;
  position: absolute;
  top:200px;
  right:200px;
}

.btnCreateForm {
  padding: 5px 10px;
  background-color: #3f61a0;
  color: white;
  border: none;
  border-radius: 4px;
  
}

.close {
  margin-left: auto;
  color: rgb(142, 141, 141);
  transform: translateX(10px);
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
 

}

.inputWrapper {
  border-bottom: 1px solid rgb(142, 141, 141);
  border-top: 1px solid rgb(142, 141, 141);
  position: relative;
  margin: 10px;
  display: flex;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: white;
  height: 80px;
}

.inputCreatePost {
  width: 500px;
  height: 90px;
  position: absolute;
  border: none;
  outline: none;
  left: 30px;
  top: 0px;
 
}

.smile {
  position: absolute;
  top: 60px;
  right:30px;
}

.postWrapper {
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid  rgb(142, 141, 141);
}

.form__avatar {
  align-self: flex-start;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: 1px solid #3f61a0;
  border-radius: 50%;
}

.form__textarea {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
}

.form__smile {
  display: block;
  color: #3f61a0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.button {
  padding: 5px 10px;
  background-color: #4469ae;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.button-delete {
  background-color: #b04546;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.author {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.author__name {
  color: #3b5a94;
  text-decoration: none;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author__avatar-small {
  width: 30px;
  height: 30px;
}

.author__status {
  display: flex;
  color: #3f61a0;
  font-size: 16px;
}

.post__text {
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.post__text-clickable {
  cursor: pointer;
}

.reactions {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  border-bottom: 1px solid var(--border-color);
}

.reactions__link {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  text-decoration: none;
  color: var(--link-color);
}

.comment {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  background-color: #ffffff;
}

.close-edit {
  margin-left: auto;
  color: rgb(142, 141, 141);
  transform: translateX(10px);
  display: flex;
  width: 30px;
  justify-content: flex-end;
  margin-right: 20px;
 

}


.header {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(177, 172, 172, 0.414);
  font-weight: 600;
 
}


.input-edit {
  width: 400px;
  height: 100px;
  outline: none;
  border: none;

}

.form {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(177, 172, 172, 0.414);
  background-color: white;
  position: relative;
}

.edit-smile {
  position: absolute;
  right:30px;
}